extends ./layout.pug


block content
	script(src='./script.js')
	script(type='text/javascript')
	a.btn.btn-warning(href="/logout") Cerrar Session
	.container
		.col-md-6
			.panel.panel-info#messageArea(style='display:block;')
				.panel-heading
					p User
				div#scroll(style='height:300px;overflow:auto')
					.panel-body
						#chat
							for message in messages
								if(message.user == user)
									div(class="container-fluid row")
										span(class="chat-msg alert alert-info" style='float:right;')
											b #{message.user}: 
											span #{message.msg}
								else
									div(class="container-fluid row")
										span(class="chat-msg alert alert-success" style='float:left;')
											b #{message.user}: 
											span #{message.msg}
				.panel-footer
					form(id="messageForm")
						div(class="input-group")
							input(type="text" class="form-control" id='message' autocomplete='off' placeholder="Write your message...")
							span(class="input-group-btn")
								button(class="btn btn-info" type="submit")
									I.glyphicon.glyphicon-share-alt(style='line-height:20px')
					b.text-success#status Status
		.col-md-6
			.panel.panel-info
				.panel-heading
					h4 Usuarios Conectados
				.panel-body
					ul.list-group
						#users